<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ryan Blunden" />
    <meta name="description" content="Mandalorian GIF Generator" />
    <title>Doppler Mandalorian GIF Generator</title>
    <meta name="theme-color" content="#7952b3" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
</head>

<body>
    <div class="page-container text-center text-white bg-dark">

        <Head>
            <meta charSet="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta name="author" content="Ryan Blunden" />
            <meta name="description" content="Mandalorian GIF Generator" />
            <title>Doppler Mandalorian GIF Generator</title>
            <meta name="theme-color" content="#7952b3" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
                crossOrigin="anonymous" />
            <meta property="og:image" content="{{ url_for('static', filename='images/og-image.jpg') }}" />
            <meta name="og:title" content="Doppler Mandalorian GIF Generator" />
            <meta name="twitter:card" content="{{ url_for('static', filename='images/og-image.jpg') }}" />

            <link rel="shortcut icon" href="{{ url_for('static', filename='images/doppler-fav-icon-logo.png') }}" />
            <link rel="icon" type="image/png"
                href="{{ url_for('static', filename='images/doppler-fav-icon-logo.png') }}" />
        </Head>

        <header>
            <div class="container pb-2">
                <div class="row justify-content-center">
                    <div class="col text-center">
                        <a href="https://doppler.com" target="_blank" class="d-block pt-5">
                             <img src="{{ url_for('static', filename='images/doppler-logo.png') }}" class="doppler-logo" />
                        </a>
                         <img src="{{ url_for('static', filename='images/mandalorion-logo.png') }}"
                            class="d-block mx-auto mt-4 logo images images-fluid" />
                        <h1 class="mt-2 mb-0 text-uppercase h5">
                            <span class="sr-only">Mandalorian</span>GIF Generator
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5">
                        <video class="mt-5 shadow-lg rounded position-relative" muted autoPlay loop>
                            <source src="{{ giphy_url }}" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <p class="small mt-5">
                Powered by
                <a href="https://giphy.com/search/mandalorian" class="text-white" target="_blank">
                    GIPHY
                </a>
                and the
                <a href="https://doppler.com/" class="text-white" target="_blank">
                    Doppler Universal Secrets Manager
                </a>
            </p>
            <p class="small mt-1 mb-0">
                Mandalorian logo by
                <a href="https://www.deviantart.com/kiofficialart/art/Star-Wars-Mandalorian-logo-title-Fanmade-795171000"
                    class="text-white" target="_blank">
                    KIOfficialArt
                </a>
            </p>
            <p class="mt-2 pb-5">
                <a href="https://github.com/DopplerUniversity/mandalorion-gifs" class="small text-white nav-link"
                    target="_blank">
                    <span class="px-1">View on GitHub</span>
                     <img src="{{ url_for('static', filename='images/github-logo.png') }}" />
                </a>
            </p>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
        integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
        crossOrigin="anonymous"></script>
    </div>
</body>

</html>